<div class="divtotal">
<body>
  
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['/carrito']">
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
<ion-content [style.margin-top.px]="marginTop" color="light">

  <ion-card class="cardsaldos" color="light">
   
    <ion-card-content color="" allign-items="right">
     <img src="./assets/img/LogoIdeas.png">
    
  </ion-card-content>
    
    </ion-card>
  

  
 
  <ion-card class="cardsaldos" color="tertiary">
   
    <ion-card-content color="primary" allign-items="right">
     <p> Saldo Disponible</p>
    <label class="saldodin" slot="end" text-alling="right"> $0,00</label>
  </ion-card-content>
    
  
    <ion-card color="success">
  
    <ion-card-content>Cupones</ion-card-content>
  
  
       </ion-card>
      
    </ion-card>

    
    <ion-card>
  
    <ion-searchbar
    [(ngModel)]="searchTerm" color="light" (ionChange)="filterProducts()" placeholder="Buscar Producto"></ion-searchbar>
  </ion-card>

  <ion-card class="containerprod" color="primary">
    <ion-card-header>
      <h3>Productos Destacados</h3>
      
     
    </ion-card-header>

  
<ion-card>
  <ion-card-content>
  <div>  
    <ion-grid  [fixed]="true" class="horizontal-scroll" >
    <ion-row  class="scroll-items" *ngFor="let product of filteredProducts">
        <ion-card color="light" class="cardproductos" >
          <ion-card-content class="carditem">
          <img class="img" [src]="product.image" alt="Product Image" style="justify-content: center;">
          
            <ion-card-title class="producto-nombre">{{ product.nombre }}</ion-card-title>
            <p class="producto-descripcion">{{ product.descripcion }}</p>
            <h3 class="producto-precio">${{ product.precio }}</h3>
            <ion-button placeholder="product.isAddedToCart ? 'Agregado' : 'Agregar'" [disabled]="!addToCart" (click)="addToCart(product)" fill="outline">
              <ion-icon name="cart"></ion-icon>
     
            </ion-button>
          </ion-card-content>
        </ion-card>
    </ion-row>
  </ion-grid>
</div>

</ion-card-content>
</ion-card>

</ion-card>

<ion-card>
  <ion-card-content>
    <ion-card-title>
      Aqui va otra cosa
    </ion-card-title>
  </ion-card-content>
</ion-card>
</ion-content>
  
</body>
</div>