<div class="divtotal">
<body>
  
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['/carrito']">
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
<ion-content [style.margin-top.px]="marginTop" color="light">

  <ion-card class="cardsaldos" color="light">
   
    <ion-card-content color="" allign-items="right">
     <img src="./assets/img/LogoIdeas.png">
    
  </ion-card-content>
    
    </ion-card>
  

  
 
  <ion-card class="cardsaldos" color="tertiary">
   
    <ion-card-content color="primary" allign-items="right">
     <p> Saldo Disponible</p>
    <label class="saldodin" slot="end" text-allign="right"> $0,00</label>
  </ion-card-content>

      
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Productos mas vendidos</ion-card-title>
        <ion-card-subtitle>Destacados</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list scrollX="true"  *ngFor="let product of filteredProducts">
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" [src]="product.image" />
            </ion-thumbnail>
            <ion-label>{{ product.nombre }}</ion-label>
            <ion-button placeholder="product.isAddedToCart ? 'Agregado' : 'Agregar'" [disabled]="!addToCart" (click)="addToCart(product)" fill="outline"><ion-icon name="cart"></ion-icon>
         
            </ion-button>
            
          </ion-item>
    
         
    
          
        </ion-list>
      </ion-card-content>
    </ion-card>

    
    <ion-card>
  
    <ion-searchbar
    [(ngModel)]="searchTerm" color="light" (ionChange)="filterProducts()" placeholder="Buscar Producto"></ion-searchbar>
  </ion-card>

  <ion-card class="containerprod" color="light">

  
<ion-card>
  <ion-card-content>
  <div>  
    <ion-grid  [fixed]="true" class="horizontal-scroll" >
    <ion-row scrollX="true" class="scroll-items" *ngFor="let product of filteredProducts">
        <ion-card color="light" class="cardproductos" >
          <ion-col>
          <ion-card-content class="carditem">
          <img class="img" [src]="product.image" alt="Product Image" style="justify-content: center;">
          
            <ion-card-title class="producto-nombre">{{ product.nombre }}</ion-card-title>
            <p class="producto-descripcion">{{ product.descripcion }}</p>
            <h3 class="producto-precio">${{ product.precio }}</h3>
            <ion-button placeholder="product.isAddedToCart ? 'Agregado' : 'Agregar'" [disabled]="!addToCart" (click)="addToCart(product)" fill="outline">
              <ion-icon name="cart"></ion-icon>
     
            </ion-button>
          </ion-card-content>
        </ion-col>
        </ion-card>
    </ion-row>
  </ion-grid>
</div>

</ion-card-content>
</ion-card>

</ion-card>


</ion-content>
  
</body>
</div>